{% extends 'journal/base.html' %}

{% block title %}Guidelines - {{ block.super }}{% endblock %}

{% block content %}
<h1 class="title">Guidelines</h1>
<div class="content">
    <p>Details about the manuscript submission process, formatting guidelines, peer review policy, publication ethics, and author fees (if any) should be provided here.</p>
    <ul>
        <li>Submission Guidelines</li>
        <li>Formatting Requirements</li>
        <li>Peer Review Process</li>
        <li>Open Access Policy</li>
    </ul>
</div>
{% endblock %}

