<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        .errorlist {
            color: red;
            list-style: none;
            padding: 0;
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h1>step {{step}}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="step" value="{{ step }}">


            {% if step == 1 %}

        <div>
            {{ user_form.as_p }}
        </div>
                    <button type="submit" name="action" value="submit">Submit</button>

            {% endif %}
        {% if step == 2 %}
            <input type="hidden" name="crd" value="{{ crd }}">

            <div>
<!-- <div {% if step != 2 %}style="display:none;" {% endif %}> -->
    {{ author_form.as_p }}
        </div>
 
 
            <button type="submit" name="action" value="submit">Submit</button>
  
 
         {% endif %}


     </form>
</body>

</html>